.DS_Store
node_modules/
dist/
admindb/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
coverage/
/test/e2e/reports/
selenium-debug.log
/__apiCreator__/json/
/__apiCreator__/services/
/__apiCreator__/mocks/
/__apiCreator__/token.json*
/__apiCreator__/files/*
/__apiCreator__/models/*
/__apiCreator__/getCreator.js
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
.env.production.local
